@{
    ViewBag.Title = "Home Page";
}

<div class="white-text-container background-image-container" style="background-image: url('/Content/img/coversacademy.jpg');">
    <div class="opacity"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>Finally! Ad Libitum Voices Music Academy is here!</h1>
                <p>
                    Now you can learn and develop your music talent coached by your favourite band - Ad Libitum Voices!
                </p>
                <p>
                    Learn Singing, Songwriting, Lyrics writing, Music Production and Stage Performance from Vlad, Cristian, Sergiu and Tiberius!
                </p>
                <p>
                    And BONUS : Now you can record your songs and performances in our brand NEW : ADLV STUDIO!
                </p>
                    
                <a href="https://www.adlv.ro/" title="" class="btn btn-lg btn-primary">Check ADLV Band Official Site</a>
            </div>

        </div>
    </div>
</div>



<div class="section-container">
    <div class="section-container background-color-container white-text-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2>Subscribe Now!</h2>
                        <p>
                            Dont wait up! Choose what subscription fits for you, and let' get going on the path of a superstar! The stage awaits!
                        </p>
                        <div class="flex-container"style="max-width:100%;height:auto;">
                            <div class="row">
                                <div class="flex-item">
                                    <div class="card" style="max-width: 18rem; background-color: rgba(2, 94, 242, 0.8)">
                                        <div class="card-header"><h4>STANDARD</h4></div>
                                        <div class="card-body">
                                            <h4 class="card-title" style="font-style:italic;">5 Sessions</h4>
                                            <div class="card-paragraph">
                                                <p class="card-text">Vocal couching and option</p>
                                                <p class="card-text">Duration - max 4 weeks</p>
                                                <p class="card-text">Discount 30% for recording in ADLV Studio</p>
                                            </div>
                                            <a href="~/Subscription/Create" title="1" class="btn btn-primary btn-lg">Subscribe</a>
                                            </div>
                                        </div>
                                </div>

                                <div class="flex-item">
                                    <div class="card" style="max-width: 18rem; background-color: rgba(158, 0, 0, 0.8)">
                                        <div class="card-header"><h4>INTENSIVE</h4></div>
                                        <div class="card-body">
                                            <h4 class="card-title"style="font-style:italic;">10 Sessions</h4>
                                            <div class="card-paragraph">
                                                <p class="card-text">Vocal couching and option</p>
                                                <p class="card-text">Duration - max 4 weeks</p>
                                                <p class="card-text">Discount 50% for recording in ADLV Studio</p>
                                            </div>
                                            <a href="~/Subscription/Create" title="2" class="btn btn-primary btn-lg">Subscribe</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-item">
                                    <div class="card" style=" max-width: 18rem; background-color: rgba(8, 110, 1, 0.8)">
                                        <div class="card-header"><h4>SINGLE</h4></div>
                                        <div class="card-body">
                                            <h4 class="card-title" style="font-style:italic;">Single Session</h4>
                                            <div class="card-paragraph">
                                                <p class="card-text">Vocal couching and option</p>
                                                <p class="card-text">Duration - 50 minutes</p>
                                                <p class="card-text">Discount 10% for recording in ADLV Studio</p>
                                            </div>
                                            <a href="~/Subscription/Create" title="3" class="btn btn-primary btn-lg">Subscribe</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="row">
            <div class="col-xs-12">


                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"style="max-width:100%;height:auto;">
                    <h2>Check our latest music videos:</h2>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <iframe width="1038" height="584" src="https://www.youtube.com/embed/cUVdEoBHIOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item">
                            <iframe width="1038" height="584" src="https://www.youtube.com/embed/4wO6763BmRI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item">
                            <iframe width="1038" height="584" src="https://www.youtube.com/embed/LJEkyPv57e4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                </div>


            </div>
        </div>
    </div>
</div>




<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="./assets/images/img-06.png" alt="">
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="./assets/images/logo-01.png" alt="">

                </div>
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="./assets/images/logo-02.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="./assets/images/logo-03.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>






<footer>
    <div class="section-container footer-container">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h4>Do you like ADLV Academy? Share this !</h4>
                    <p>
                        <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </p>
                    <p><small>© by Sergiu C.</small></p>
                </div>

                <div class="col-md-4">
                    <h4>Subscribe to newsletter</h4>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control footer-input-text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-newsletter ">OK</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</footer>
