
@{
    HttpContext.Current.User.IsInRole("Administrator");
    ViewBag.Title = "IndexGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your have successfully subscribed!</h2>

<div>
    @Html.ActionLink("Return to Home", "Index", "Home")
</div>

